@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  overflow-x: hidden;
}
.image img {
  animation: img;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  position: relative;
}
@keyframes img {
  0% {
    left: -500px;
  }
  100% {
    left: 0px;
  }
}

.content h1 {
  animation: header;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  position: relative;
  animation-delay: 1s;
  left: 800px;
}
@keyframes header {
  0% {
    left: 800px;
  }
  100% {
    left: 0;
  }
}
.content .text-block {
  animation: text;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  position: relative;
  animation-delay: 3s;
  opacity: 0;
}
@keyframes text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.button {
  animation: button;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-delay: 4s;
  opacity: 0;
}
@keyframes button {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* services section */
.bg-border {
  border-radius: 15% 15% 0 0;
}
@media (min-width: 976px) {
  .card {
    border-radius: 27% 73% 27% 73% / 100% 0% 100% 0% !important;
  }
  .statistic-container {
    padding-bottom: 0 !important;
  }
  .bg-border {
    border-radius: 15% 15% 0 0;
  }
}
@media (min-width: 768px) {
  .card {
    border-radius: 27% 73% 27% 73% / 100% 0% 100% 0% !important;
  }
  .statistic-container {
    padding-bottom: 40rem;
  }
  .bg-border {
    border-radius: 5% 5% 0 0;
  }
}
@media (min-width: 280px) and (max-width: 767px) {
  .statistic-container {
    padding-bottom: 55rem;
  }
  .card {
    border-radius: 1rem;
  }
  .bg-border {
    border-radius: 0;
  }
}
.singleCard {
  padding-bottom: 26rem;
  max-height: 28rem;
}

.card-img {
  border-bottom-left-radius: 7rem;
  border-bottom-right-radius: 7rem;
}

.review-card {
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  width: 100%;
  border:none;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}
ul > li {
  color: #fff;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
ul > li:hover {
  transform: translateX(6px);
}
